@{
    ViewBag.Title = "Menu";

}


    @*@Html.ActionLink("Fund Transer", "FundTransfer")
        @Html.ActionLink("Mini Statement", "MiniStatement")
        @Html.ActionLink("Change Password", "ChangePassword")
        @Html.ActionLink("Balance Enquiry", "BalanceEnquiry")
        @Html.ActionLink("Custome Statement", "CustomStatement")*@

}

<h2>Customer Menu</h2>
<h3>Account Number  @Session["accountNumber"]</h3>
